h1{
    color: red;
}
h2{
    color: rgb(225, 51, 51);
}

ol{
    color: brown;
}
ul{
    color: brown;
    letter-spacing: 2px;
}
p{
    color: brown;
}
a{
    color: red;
    background-color: yellow;
    text-decoration: none;
}

span{
    background-color: yellow;
}
